<header>
		<div class="Zaglavlje">
			<section id="navigacija">
        <img id="pozadinska" src="assets/img/pozadinska.jpg">
        <input id="pretraga"type="text" placeholder="Pretraži">
        <nav>
          <div id ="ListaPonuda">
            <ul>
              <li>
                <h2><a href="O nama.html">O nama</a></h2>
              </li>
              <li>
                  <h2><a href="">Asortiman</a></h2>
                </li>
                  <li>
                    <h2><a href="">Saksijsko cveće</a></h2>
                  </li>
                  <li>
                    <h2><a href="">Sobno cveće</a></h2>
                  </li>
                  <li>
                    <h2><a href="">Uslovi kupovine</a></h2>
                  </li>
              </ul>
            </div>            
        </nav>
      </section>	
		</div>
  </header>
  <div class="centralniDeoStranice">
      <app-pocetna></app-pocetna>
  </div>
  <footer>
	  <p ><br /><br />Copyright &copy; 2018. Kuća cveća Cataleya. Sva prava zadržana.</p>
  </footer>
